Only folders, not files, showing in webdav

* KOReader version:
* Device:

#### Issue
Only folders are appearing on WebDAV, not files. The only WebDAV server I have tested this on is Mailfence.
#### Steps to reproduce
1. Have `Show Unsupported Files` enabled
2. Add mailfence WebDAV at `https://mailfence.com/docs/{user}/private` with the correct password to koreader
3. Open it, and notice that there any only folders, and no files appearing


##### `crash.log` (if applicable)
[crash.log](https://github.com/user-attachments/files/16620944/crash.log)


No connection errors in the log.
Can you uncomment this line and get the log once more:
https://github.com/koreader/koreader/blob/a51bd7a7fd1376ca972171994a6f6a7eec7a6464/frontend/apps/cloudstorage/webdavapi.lua#L103

Here is a new log. The WebDAV has the starting path as /books

Inside that folder, there is `file1.txt`, `file2.epub`, and `file3.unsupported`

after opening the folder, I uploaded `crash.log` to the dav.

![crash.log.txt](https://github.com/user-attachments/files/16632345/crash.log.txt)



Can you try
[webdavapi.lua.txt](https://github.com/user-attachments/files/16633910/webdavapi.lua.txt)
Remove txt extension, replace original file.

That file seems to fix it, thanks! will KOReader be updated with this new file?

Update: It seems to work with some files, but not others. This fix needs to be tested on more devices and files.

[crash.log](https://github.com/user-attachments/files/16774803/crash.log)
Sorry for the late reply! Btw i am having an issue with the webdav on other devices too, so it may be an issue on that end.

You can see the list of files, but cannot download them, right?

Looks like the issue is on the server side. For example, it returns the filename url with unsafe ASCII characters encoded:

`Nevada%20--%20Imogen%20Binnie%20--%202022%20--%20Farrar%2C%20Straus%20and%20Giroux%20--%200374606625%20--%20b1a7f2dacccc8c427ebd64c5e25f3177%20--%20Anna%E2%80%99s%20Archive.epub`

but does not accept this name for downloading (404 Not found)
Dunno if we should decode the url back to pure ASCII on our side. @Frenzie ?

I don't know WebDAV but that sounds implausible, assuming it's not accidentally double encoded on our side.

Me neither.
We do encode every url
https://github.com/koreader/koreader/blob/f3005906d4236fa234a789b8e62df4ea7ed1dcea/frontend/apps/cloudstorage/webdavapi.lua#L30-L40

That function only seems to be used on this line, which would make sense:

https://github.com/koreader/koreader/blob/f3005906d4236fa234a789b8e62df4ea7ed1dcea/frontend/apps/cloudstorage/webdav.lua#L70

The log line that says ` WebDavApi: downloading file:` looks sensible: a once-encoded URL, presumably never altered.

The spec also pretty much says what you'd expect. I think it's a server issue.

https://www.rfc-editor.org/rfc/rfc4918
```
[8.3.1](https://www.rfc-editor.org/rfc/rfc4918#section-8.3.1).  Example - Correct URL Handling

   Consider the collection http://example.com/sample/ with the internal
   member URL http://example.com/sample/a%20test and the PROPFIND
   request below:

   >>Request:

     PROPFIND /sample/ HTTP/1.1
     Host: example.com
     Depth: 1

   In this case, the server should return two 'href' elements containing
   either

   o  'http://example.com/sample/' and
      'http://example.com/sample/a%20test', or

   o  '/sample/' and '/sample/a%20test'

   Note that even though the server may be storing the member resource
   internally as 'a test', it has to be percent-encoded when used inside
   a URI reference (see [Section 2.1 of [RFC3986]](https://www.rfc-editor.org/rfc/rfc3986#section-2.1)).  Also note that a
   legal URI may still contain characters that need to be escaped within
   XML character data, such as the ampersand character.
```

> That function only seems to be used on this line

And also in
https://github.com/koreader/koreader/blob/f3005906d4236fa234a789b8e62df4ea7ed1dcea/frontend/apps/cloudstorage/webdav.lua#L20-L21
https://github.com/koreader/koreader/blob/f3005906d4236fa234a789b8e62df4ea7ed1dcea/frontend/apps/cloudstorage/webdavapi.lua#L43-L44

Alright, but in any case that doesn't matter unless the log is deceptive.

Which luckily it's not. :-) It simply says exactly what it tries to download:
https://github.com/koreader/koreader/blob/f3005906d4236fa234a789b8e62df4ea7ed1dcea/frontend/apps/cloudstorage/webdavapi.lua#L161-L168