OPDS Catalog Login Doesn't Encode Special Characters

* KOReader version: 2024.11
* Device: Kobo Libra 2, Samsung Galaxy S21

#### Issue

Per [RFC 3986, Section 3.2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.1), special characters in the user part must be percent-encoded. But OPDS Catalog plugin of KOReader won't enocde passwords with special characters when supplied.

#### Steps to reproduce

1. Supply a OPDS password with special characters: ^@%! (can't login)
2. Supply a OPDS password with percent-encoded special characters: %5E%40%25%21 (can login)

##### `crash.log` (if applicable)
`crash.log` is a file that is automatically created when KOReader crashes. It can normally be found in the KOReader directory:

* `/mnt/private/koreader` for Cervantes
* `koreader/` directory for Kindle
* `.adds/koreader/` directory for Kobo
* `applications/koreader/` directory for Pocketbook

Android logs are kept in memory. Please go to [Menu] → Help → Bug Report to save these logs to a file.

Please try to include the relevant sections in your issue description.
You can upload the whole `crash.log` file (zipped if necessary) on GitHub by dragging and dropping it onto this textbox.

If your issue doesn't directly concern a Lua crash, we'll quite likely need you to reproduce the issue with *verbose* debug logging enabled before providing the logs to us.
To do so, go to `Top menu → Hamburger menu → Help → Report a bug` and tap `Enable verbose logging`. Restart as requested, then repeat the steps for your issue.

If you instead opt to inline it, please do so behind a spoiler tag:
<details>
  <summary>crash.log</summary>

```
<Paste crash.log content here>
```
</details>


```lua
local url = require("socket.url")
url.encode(etc)
```

Does this suffice?

```diff
diff --git a/plugins/opds.koplugin/opdsbrowser.lua b/plugins/opds.koplugin/opdsbrowser.lua
index d8b5cded3..cc4bc6232 100644
--- a/plugins/opds.koplugin/opdsbrowser.lua
+++ b/plugins/opds.koplugin/opdsbrowser.lua
@@ -804,7 +804,7 @@ function OPDSBrowser:onMenuSelect(item)
         if #self.paths == 0 then -- root list
             self.root_catalog_title    = item.text
             self.root_catalog_username = item.username
-            self.root_catalog_password = item.password
+            self.root_catalog_password = url.encode(item.password)
         end
         local connect_callback
         if item.searchable then
```

@Frenzie Looks like it should be this function instead:

```diff
diff --git a/plugins/opds.koplugin/opdsbrowser.lua b/plugins/opds.koplugin/opdsbrowser.lua
index d8b5cded3..cc4bc6232 100644
--- a/plugins/opds.koplugin/opdsbrowser.lua
+++ b/plugins/opds.koplugin/opdsbrowser.lua
@@ -804,7 +804,7 @@ function OPDSBrowser:onMenuSelect(item)
         if #self.paths == 0 then -- root list
             self.root_catalog_title    = item.text
             self.root_catalog_username = item.username
-            self.root_catalog_password = item.password
+            self.root_catalog_password = url.escape(item.password)
         end
         local connect_callback
         if item.searchable then
```

I manually loaded the plugin and it works now.

PS Could you provide a few more details about the issue? Are you sure the specific string `^@%!` causes an issue? The RFC in the OP doesn't seem to be of particular relevance since we're talking about headers here. And in headers it shouldn't be URI-escaped before it's base64-encoded.

Agreed, looking around I think https://github.com/lunarmodules/luasocket/pull/170 is unlikely to be correct. If parsing a URL doesn't decode the password correctly it should be decoded in that parsing phase.

In effect, I would think this to be a more proper fix to the problem.
```diff
diff --git a/src/http.lua b/src/http.lua
index e93003d..a060c68 100644
--- a/src/http.lua
+++ b/src/http.lua
@@ -243,7 +243,7 @@ local function adjustheaders(reqt)
     if reqt.user and reqt.password then
         lower["authorization"] =
             "Basic " ..  (mime.b64(reqt.user .. ":" ..
-               url.unescape(reqt.password)))
+               reqt.password))
     end
     -- if we have proxy authentication information, pass it along
     local proxy = reqt.proxy or _M.PROXY
diff --git a/src/url.lua b/src/url.lua
index aef1698..14ab562 100644
--- a/src/url.lua
+++ b/src/url.lua
@@ -186,7 +186,7 @@ function _M.parse(url, default)
     local userinfo = parsed.userinfo
     if not userinfo then return parsed end
     userinfo = string.gsub(userinfo, ":([^:]*)$",
-        function(p) parsed.password = p; return "" end)
+        function(p) parsed.password = _M.unescape(p); return "" end)
     parsed.user = userinfo
     return parsed
 end
```